@import "../abstract/variables";
@import "../abstract/mixins";

.cards {
    height: auto;
    background-color: $filter-background;
    padding: 20px 0;

    & .card {
        width: 100%;
        min-height: 240px;
        padding: 20px 5%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include respond(tablet) {
            flex-direction: row;
            padding: 20px 10%;
            gap: 0;
        }

        &__left {
            flex: 0 0 100%;

            @include respond(tablet) {
                flex: 0 0 320px;
            }

            &_img_wrapper {
                width: 100%;
                height: 200px;
                overflow: hidden;
                border-radius: 4px;

                & .img__card {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            justify-content: center;
            gap: 10px;

            @include respond(tablet) {
                margin-left: 5%;
                justify-content: space-around;
                gap: 0;
            }

            &__title {
                font-size: 20px;
                font-family: $font-montserrat;

                @include respond(tablet) {
                    font-size: 24px;
                }
            }

            &__disc {
                font-size: 13px;
                font-family: $font-montserrat;
                color: $card-text;

                @include respond(tablet) {
                    font-size: 14px;
                }
            }

            &__tag {
                font-size: 13px;
                font-family: $font-montserrat;
                color: $card-tag;

                @include respond(tablet) {
                    font-size: 14px;
                }
            }
        }
    }
}